{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Changed Passsword {% endblock title %}  
{% block navbar %} {% endblock navbar %}

{% block content %}
<div class="container">
    <div class="row centered py-4 align-items-center justify-content-center ">
        <form class="col-md-6" method="POST" >
            <div class="form-group my-2">
                <h4 class="text-muted text-dark">Changed your passsword</h4>
            </div>
            <hr/>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center text-lg-start mt-2 pt-2">
                <button type="submit" class="btn btn-dark">Changed Passsword</button>
            </div>    
            <div class="my-3 mb-2 d-flex flex-column align-items-center justify-content-center">
                <p class="m-0">
                    Don't have an Changed passsword,Please<a href="{% url 'PostListView' %}" class="text-decoration-none px-1 text-dark"><u>back home</u></a>
                </p>
            </div> 
        </form>
    </div>
</div>
{% endblock content %}