{% extends "base.html" %}
{% block title %} Reset Passsword Complete {% endblock title %}  
{% block navbar %} {% endblock navbar %}

{% block content %}
<div class="container">
    <div class="row centered py-4 align-items-center justify-content-center ">
        <div class='col-md-6'>
            <div class="form-group my-2">
                <h4 class='text-muted text-dark'>Reset Your Password Complete</h4>
            </div>
            <hr/>
            <p class="small fw-bold">Your password is successfully changed! <br/> <a class="btn btn-dark my-3" href= "{% url 'LoginPageView' %}">Back to Login</a></p></p>  
        </div>
    </div>
</div>
{% endblock content %}