{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Reset Passsword Confirm  {% endblock title %}  
{% block navbar %} {% endblock navbar %}

{% block content %}
<div class="container">
    <div class="row centered py-4 align-items-center justify-content-center ">
        <form class='col-md-6' method="POST">
            {% csrf_token %}
            <div class="form-group my-2">
                <h4 class='text-muted text-dark'>Reset Your Password Confirm</h4>
            </div>
            <hr/>
            {{ form|crispy }}
            <div class="form-group my-3 d-grid gap-2">
                <button class='btn btn-dark' type="submit">Submit</button>
            </div>
                
        </form>
    </div>
</div>
{% endblock content %}